<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - SignalR SQL Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body class="pace-done skin-black fixed">
    <header class="header">
        @RenderPage("~/Areas/SignalRSQLAdmin/Views/Shared/_Header.cshtml", @Model)
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            @RenderPage("~/Areas/SignalRSQLAdmin/Views/Shared/_LeftSideBar.cshtml", @Model)
        </aside>
        <aside class="right-side">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SignalR SQLAdmin - Pierre, Antoine, Santi</p>
            </footer>
        </aside>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* Sert a parametrer les tables*@
    <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
    </script>
</body>
</html>
